## Five tables join to combine customer, invoiceline, track and album
Step 1: : Install SQLite support and pandas

In [1]:
>>> !pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

Step 2: Import SQLite 3 and pandas libraries

In [2]:
>>> import sqlite3 
import pandas as pd

Step 3: Download the SQLite version of the Chinook database from GitHub { sql-chinook-tutorial/chinook.db at master · lspaudel/sql-chinook-tutorial · GitHub }, then connect to the Chinook database.

In [3]:
>>> conn = sqlite3.connect("chinook.db")

Step 4: SQL Query to join Customer, Invoice, InvoiceLine, Track, and Album tables

In [4]:
>>> query = """
SELECT 
    c.LastName,
    c.FirstName,
    il.InvoiceLineId,
    t.Name AS TrackName,
    a.Title AS AlbumTitle
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album a ON t.AlbumId = a.AlbumId
ORDER BY c.LastName, c.FirstName;
"""

Step 5: Run the query and load 5 results into a pandas dataframe, and close the connection

In [5]:
>>> df = pd.read_sql_query(query, conn)
print(df.head(5))
conn.close()

  LastName FirstName  InvoiceLineId  \
0  Almeida   Roberto            188
1  Almeida   Roberto            837
2  Almeida   Roberto            838
3  Almeida   Roberto            896
4  Almeida   Roberto            897

                                           TrackName               AlbumTitle
0                            Right Next Door to Hell      Use Your Illusion I
1                                     In The Evening  In Through The Out Door
2                                   Fool In The Rain  In Through The Out Door
3  Saudade Dos Aviões Da Panair (Conversando No Bar)                    Minas
4                             Caso Você Queira Saber                    Minas